.user{
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 2px;
    margin:5px;
    width: 20vw;
    padding: 10px;
}
.user-disp{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    /* max-height: 80vh; */
    max-width: 99vw;
}
.user-manage{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 99vw;
}



.node-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.mod-user-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 99vw;
    font-size: 2rem;
}

.mod-user-form > input{
    padding: 0.2em 0.5em;
    font-family: 'Roboto', sans-serif;
width: 25vw;
padding: 10px;
margin: 10px;
}

.mod-user-form > button{
    width: 10vw;
    height: 4vh;
    margin-top: 10px;
}

.user-mod-disp{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post-mod-disp{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.user-mod-disp > h1{
    margin-bottom: 2rem;
    font-size:4rem;
    
}

.user-update-sucess{
    font-size: 2rem;
    margin-top: 2rem;
}
