@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato");

html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: #6f95c0;
  --main-font: "Roboto", sans-serif;
  font-family: var(--main-font);
  display: flex;
}

.container {
  display: block;
  position: relative;
  margin: 40px auto;
  height: auto;
  width: 500px;
  padding: 20px;
}

h2 {
  color: #aaaaaa;
  font-style: calc();
}

.container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
}

ul li {
  color: #f5900c;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #333;
}

ul li input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 80px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label {
  color: #1cd5ee;
}

ul li .check {
  display: block;
  position: absolute;
  border: 5px solid #aaaaaa;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 20px;
  z-index: 5;
  transition: border 0.25s linear;
  -webkit-transition: border 0.25s linear;
}

ul li:hover .check {
  border: 5px solid #eeb61e;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type="radio"]:checked ~ .check {
  border: 5px solid #1966f5;
}

input[type="radio"]:checked ~ .check::before {
  background: #1966f5;
}

input[type="radio"]:checked ~ label {
  color: #1966f5;
}

#author-outer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  gap: 40px;
}

#author-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  gap: 30px;
}

#author-img {
  width: 200px;
  border-radius: 7px;
  aspect-ratio: 1;
  object-fit: cover;
  border: 1px solid rgb(163, 163, 163);
}

#author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#author-info-top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#author-name {
  font-size: 23px;
}

.social-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-img {
  height: 20px;
}

#allpost-single-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 350px;
  height: 500px;
}

#allpost-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#allpost-author {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#allpost-date {
  font-size: 14px;
  color: rgb(105, 105, 105);
  white-space: nowrap;
}

#allpost-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#allpost-title {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  /* max-height: 54px; */
  /* overflow-y: hidden; */
}

#allpost-description {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

#allpost-btn-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.allpost-btn {
  font-family: var(--main-font);
  flex: 1;
  border: none;
  background-color: #2c92ff;
  color: white;
  padding: 10px 0;
  border-radius: 20px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
}

#create-post-btn,
#follow-user-btn {
  max-height: 35px;
  cursor: pointer;
}

.allpost-btn:hover {
  background-color: #007bff;
}

#create-post-modal {
  align-items: center;
  min-width: 30rem;
  min-height: fit-content;
}

#title-create-post-textarea:hover {
  cursor: pointer;
  background-color: #faf5f1;
}
#description-create-post-textarea:hover {
  cursor: pointer;
  background-color: #faf5f1;
}

#content-create-post-textarea {
  min-height: 15vh;
  height: 100px;
  transition: all 0.2s;
}
.btn {
  background-color: #4e88ca; /* Green background */
  border: 1px solid rgb(14, 168, 240); /* Green border */
  border-radius: 20%;
  color: white; /* White text */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
}
.btn:hover {
  background-color: #5994ee;
}

#content-create-post-textarea:hover {
  cursor: pointer;
  background-color: #faf5f1;
}
.flex-cont {
  display: flex;
  justify-content: space-between;
}

.modal {
  max-height: 80vh;
  max-width: 80vw;
  border: none;
}

.dialog-input {
  min-width: 100%;
  min-height: fit-content;
  background-color: #e3f5fa;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  border-radius: 10px;
  border: 2px solid transparent;
  padding: 5px;
  box-sizing: border-box;
}

.followers-list{
  position: absolute;
  top: 0px;
  left: 30px;
}