@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

#landing-container {
  box-sizing: border-box;
  padding: 20px;

}

#landing-search-container {
  background-color: #f2f2f2;
  width: 390px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#search-form {
  display: flex;
  gap: 5px;
  width: 100%;
}

#landing-search-bar {
  outline: none;
  border: none;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  flex: 1;
}


#landing-search-btn {
  background: linear-gradient(to bottom right, #4897f7, #0a39d1);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

#landing-search-btn:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

#landing-search-btn:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

#landing-search-btn1 {
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  color: white;
  background-color: #2c92ff;
  cursor: pointer;
}

#landing-search-btn1:hover {
  background-color: #007bff;
}

#allpost-single-container {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
  width: 350px;
  /* height: 500px; */
}

#allpost-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#allpost-author {
  color: black;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#allpost-date {
  font-size: 14px;
  color: rgb(105, 105, 105);
  white-space: nowrap;
}

#allpost-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

#allpost-title {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  /* max-height: 54px; */
  /* overflow-y: hidden; */
}

#allpost-description {
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

#allpost-btn-container {
  display: flex;
  justify-content: space-between;
  gap: 1px;
  margin-left: 0;
}
#myModal {
  border: none !important;
  align-items: center;
  min-width: 30rem;
  min-height: fit-content;
  background-color: #e0e9f3;
  border-radius: 10%;
}
#title-create-post-textarea,
#description-create-post-textarea {
  min-width: 100%;
  min-height: fit-content;
}

#content-create-post-textarea {
  min-width: 100%;
  min-height: 15vh;
  background-color: #e3f5fa;
  border-radius: 10px;
  border: 2px solid transparent;
  outline: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  width: 200px;
  height: 100px;
  transition: all 0.2s;
}
#content-create-post-textarea:hover {
  cursor: pointer;
  background-color: #faf5f1;
}
.flex-cont {
  display: flex;
  justify-content: space-between;
}

.btn1 {
  background-color: #4e88ca; /* Green background */
  border: 1px solid rgb(14, 168, 240); /* Green border */
  border-radius: 20%;
  color: white; /* White text */

  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
}


.btn {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.btn:hover:after {
  transform: translate(0, 0);
}

.btn:active {
  background-color: #ffdeda;
  outline: 0;
}

.btn:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .btn {
    padding: 0 40px;
  }
}

.allpost-btn1 {
  font-family: var(--main-font);
  flex: 1;
  border: none;
  background-color: #2c92ff;
  color: white;
  padding: 10px 0;
  border-radius: 20px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
}

.allpost-btn1:hover {
  background-color: #007bff;
}

.allpost-btn {
  background: linear-gradient(to bottom right, #acf3e7, #2513ec);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 10px 5;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.allpost-btn:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(105, 188, 247, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.allpost-btn:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(97, 179, 237, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
