{% extends "admin-base.html" %}
{% block head %} {% block javascript %}
<script
  src="{{ url_for('static', path='/js/admin_script.js') }}"
  defer
></script>
{% endblock %} {% endblock %} {% block content %}
<div class="posts-manage">
  <div class="posts-title">
    <h1>{{desc}} Posts Management</h1>
    <h4>Total Posts: {{posts|length}}</h4>
  </div>
  {% for post in posts%}
    <div class="user">
      <h3>ID: {{post._id}}</h1>
      <h5>Title: {{post.title}}</h5>
      <h5>Author ID: {{post.author.id}}</h5>
      <h5>Number of likes: {{post.likes|length}}</h5>

      <button data-url="/service/admin/post/{{post._id}}/{{post.author.id}}" class="delete-button-posts">Delete Post</button>
      <a href="/admin-modify-post/{{post._id}}">  
      <button data-url="/modify/{{post._id}}" class="modify-button">Modify Post</button>
        </a>
    </div>

    {% endfor %}
</div>

{% endblock %}
