<html>
  <head>
    <title>Document</title>
    <link
      href="{{ url_for('static', path='/css/author.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="author-container">
      <img src="{{post.profileImage}}" id="author-img" alt="user picture" />
      <div id="author-info">
        <div id="author-name">Name: <b>{{post.displayName}}</b></div>
        <div class="social-container">
          <img
            src="{{ url_for('static', path='assets/github-logo.png') }}"
            class="social-img"
          />
          <a href="{{post.github}}" class="social name">{{post.github}}</a>
        </div>
      </div>
    </div>
  </body>
</html>
