<!DOCTYPE html>
<html>
  <head>
    <link
      href="{{ url_for('static', path='/css/base.css') }}"
      rel="stylesheet"
    />
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="base-container">
      <div id="nav-header">
        <div id="nav-logo">Social Network</div>
        <div class="navbar">
          <a href="/home">Home</a><br />
          <a href="/current">Current</a><br />
          <a href="/inbox">Inbox</a><br />
          <a href="/logout">Logout</a><br />
        </div>
        <a href="/current" id="nav-user">
          <img
            src="{{landing.profileImage}}"
            alt="user pfp"
            id="nav-user-img"
          />
          <span id="nav-user-name">{{landing.displayName}}</span>
        </a>
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
