<html>
  <head>
    <title>Document</title>
    <link
      href="{{ url_for('static', path='/css/comments.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="comment-container">
      <div id="comment-header">Comment page 1</div>
      <div id="comment-box">
        <div class="comment-message">
          <div class="comment-message-text">Test Message</div>
          <div class="comment-message-author">Author McAuthor</div>
        </div>
        <div class="comment-message">
          <div class="comment-message-text">Test Message</div>
          <div class="comment-message-author">Author McAuthor</div>
        </div>
        <div class="comment-message">
          <div class="comment-message-text">Test Message</div>
          <div class="comment-message-author">Author McAuthor</div>
        </div>
        <div class="comment-message">
          <div class="comment-message-text">Test Message</div>
          <div class="comment-message-author">Author McAuthor</div>
        </div>
        <div class="comment-message">
          <div class="comment-message-text">Test Message</div>
          <div class="comment-message-author">Author McAuthor</div>
        </div>
        <div class="comment-message">
          <div class="comment-message-text">Test Message</div>
          <div class="comment-message-author">Author McAuthor</div>
        </div>
        <div class="comment-message">
          <div class="comment-message-text">Test Message</div>
          <div class="comment-message-author">Author McAuthor</div>
        </div>
        <div class="comment-message">
          <div class="comment-message-text">Test Message</div>
          <div class="comment-message-author">Author McAuthor</div>
        </div>
        <div class="comment-message">
          <div class="comment-message-text">Test Message</div>
          <div class="comment-message-author">Author McAuthor</div>
        </div>
        <div class="comment-message">
          <div class="comment-message-text">Test Message</div>
          <div class="comment-message-author">Author McAuthor</div>
        </div>
        <div class="comment-message">
          <div class="comment-message-text">Test Message</div>
          <div class="comment-message-author">Author McAuthor</div>
        </div>
        <div class="comment-message">
          <div class="comment-message-text">Test Message</div>
          <div class="comment-message-author">Author McAuthor</div>
        </div>
      </div>
      <div id="comment-button">
        <button class="comment-btns">Previous</button>
        <button class="comment-btns">Next</button>
      </div>
    </div>
  </body>
</html>
