<html>
  <head>
    <title>Document</title>
    <link
      href="{{ url_for('static', path='/css/comments.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', path='/css/navbar.css') }}"
      rel="stylesheet"
    />
    {% block javascript %}
    <script src="{{ url_for('static', path='/js/display_comments.js') }}" defer></script>
    {% endblock %}
  </head>

  <script>
    // Use console.log to print out comments in console
    //TODO: remove this once you figured out how it looks like
    console.log("{{comments}}");
  </script>

  <body>

    <div class="navbar">
      <a href="/home">Home</a><br>
      <a href="/current">Current</a><br>
      <a href="/logout">Logout</a><br>
    </div>

    <div id="comment-container">
      {% for page in range(comments.page) %}
        <div id="comment-header">Comment page {{page+1}}</div>
        <div id="comment-box">
          {% for p in range(comments.size) %}
            {% if page*comments.size+p < comments.comments|length %}
              <div class="comment-message">
                <div class="comment-message-text">{{comments.comments[page*comments.size+p]["comment"]}}</div>
                <div class="comment-message-author">{{comments.comments[page*comments.size+p]["author"].displayName}}</div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
      <div id="comment-button">
        <button id="lalaBtn" class="comment-btns" onclick="history.back()">Previous</button>
        <button id= "myBtn" class="comment-btns">Next</button>
      </div>
    </div>
  </body>
</html>
