{% extends "base.html" %} {% block head %}
<link
  href="{{ url_for('static', path='/css/landing.css') }}"
  rel="stylesheet"
/>
{% block javascript %}
<script src="{{ url_for('static', path='/js/script.js') }}" defer></script>
{% endblock %} {% endblock %} {% block content %}
<div id="landing-container">
  <div id="landing-search-container">
    <h2 style="margin-top: 0">Find User</h2>
    <form id="search-form">
      <input
        type="text"
        id="landing-search-bar"
        placeholder="Full Display Name"
      />
      <input type="submit" value="Search" id="landing-search-btn" />
    </form>
  </div>
  {% for l in feed %}
  <div id="allpost-single-container">
    <div id="allpost-top">
      <a href="/author/{{l.displayName}}" id="allpost-author"
        >{{l.displayName}}</a
      >
      <div id="allpost-date">{{l.published.split("T")[0]}}</div>
    </div>
    <div id="allpost-info">
      <div id="allpost-title">{{l.title}}</div>
      <div id="allpost-description">{{l.description}}</div>
    </div>
    <div id="allpost-btn-container">
      <a
        class="allpost-btn"
        href="/service/authors/{{l.author.id}}/posts/{{l._id}}/comments/view"
        >View Comments</a
      >
      <a
        class="allpost-btn"
        href="/service/authors/{{l.author.id}}/posts/{{l._id}}/view"
        >View Post</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
