{% extends "base.html" %} {% block head %}
<link
  href="{{ url_for('static', path='/css/landing.css') }}"
  rel="stylesheet"
/>
{% block javascript %}
<script src="{{ url_for('static', path='/js/auth.js') }}"></script>
<script src="{{ url_for('static', path='/js/script.js') }}" defer></script>
{% endblock %} {% endblock %} {% block content %}

<script>
    var modal;
    let data ;
    let postid;
    const followBtn = document.querySelector("#close");

    function myfunction(post_id) {
      postid = post_id;
      console.log(post_id);
      document.getElementById("open").innerHTML = "post";
      modal = document.getElementById("myModal");
      modal.showModal();
    }

    function closeModal() {
      document.querySelector("#content-create-post-textarea").value = "";
      modal.close();
    }

    function postComment() {
      data = document.getElementById("content-create-post-textarea");
      console.log({"comment":data.value});
      if (data.value == ""){
        alert("Please leave a comment before post");
      }else{
      fetch(`/service/authors/${user.id}/posts/${postid}/comments`,{
        method: 'POST',
        headers:{
          'Content-Type': 'application/json'},
        body: JSON.stringify({"type":"comment",
            "id":"",
            "author":`${user.id}`,
            "post":`${postid}`,
             "comment":data.value,
             "contentType": "text/markdown",
            "published": '2022-10-25T11:09:11.383160',
            "likes":[]
        })
      }).then((response) => { console.log(response)})
            .then((data) => {
              console.log(data);
            })
            .catch((err) => {
              console.log(err);
            });
      document.querySelector("#content-create-post-textarea").value = "";
      document.getElementById("open").innerHTML = "posted";
      modal.close();}
      }

    // TODO: Sort posts by date
    async function displayPosts(following_list) {
        for (author of following_list) {
            let url = `${author.host}/service/authors/${author.id}/posts`;
            let headers = {};

            let credentials = await getCredentials(author.host);
            if (credentials)
                headers.Authorization = `Basic ${credentials}`;

            // Handle quirks of other teams
            if (author.host === 'https://fallprojback.herokuapp.com'
                || author.host === 'https://socioecon.herokuapp.com')
                // Handle lack of '/service' in url
                url = `${author.host}/authors/${author.id}/posts`;

            fetch(url, { headers: headers })
                .then(response => response.json())
                .then(data => {
                    // Some groups do not use this format
                    if (data.items) { data = data.items; }

                    for (post of data) {
                        postList = document.getElementById("landing-container").innerHTML +=
                            `<div id='allpost-single-container'>
                         <div id='allpost-top'>
                            <div id='allpost-info'>
                               <div id='allpost-title'>${post.title}</div>
                               <div id='allpost-description'>${post.description}</div>
                            <div>
                         </div>
                      </div>`;
                    }
                });
        }
    }

    // Fetch posts from followed authors
    let user = {{ user | safe }};
    fetch(`/service/authors/${user.id}/following`)
        .then(response => response.json())
        .then(data => displayPosts(data.items));
</script>


<dialog class="modal" id="myModal">
  <textarea id="content-create-post-textarea" placeholder="leave your comment here.."></textarea>
  <div class="flex-cont">
    <button id="open" class="btn" onclick="postComment()">post</button>
    <button id="close" class="btn" onclick="closeModal()">close</button>
  </div>
</dialog>

<div id="landing-container">
  <div id="landing-search-container">
    <h2 style="margin-top: 0">Find User</h2>
    <form id="search-form">
      <input
        type="text"
        id="landing-search-bar"
        placeholder="Full Display Name"
      />
      <input type="submit" value="Search" id="landing-search-btn" />
    </form>
  </div>
  {% for l in feed %}
  <div id="allpost-single-container">
    <div id="allpost-top">
      <a href="/author/{{l.author.id}}" id="allpost-author"
        >{{l.author.displayName}}</a
      >
      <div id="allpost-date">{{l.published.split("T")[0]}}</div>
    </div>
    <div id="allpost-info">
      <div id="allpost-title">{{l.title}}</div>
      <div id="allpost-description">{{l.description}}</div>
      {% if l.contentType == 'image/jpeg;base64' or l.contentType == 'image/png;base64'%}
        <img id="image-display" src="{{l.content}}" alt="image not found"></image>
        <style>
          #allpost-info {
            overflow: auto;
          }
          #image-display {
            display: block;
            max-width:650px;
            max-height:650px;
            width: auto;
            height: auto;
          }
        </style>
        {% endif %}
    </div>
    <div id="allpost-btn-container">
      <a
        class="allpost-btn"
        href="/service/authors/{{l.author.id}}/posts/{{l._id}}/comments/view"
        >View Comments</a
      >
      <a
        class="allpost-btn"
        href="/service/authors/{{l.author.id}}/posts/{{l._id}}/view"
        >View Post</a
      >
      <button id="myBtn" class="allpost-btn" onclick="myfunction('{{l._id}}')">Create Comments</button>
      <button id="sharebtn" class="allpost-btn">Share Post</button>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
