<html>
  <head>
    <title>Document</title>
    <link
      href="{{ url_for('static', path='/css/style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="base-container">
      <div id="nav-header">
        <div id="nav-logo"><span class="name">Social Network</span></div>
      </div>
    </div>
    <div id="login-container">
      <div id="login-top">
        <div id="login-logo">LOGIN</div>
        <form id="login-form" method="post" action="">
          <input
            type="text"
            name="username"
            placeholder="username"
            class="login-form"
          />
          <input
            type="password"
            name="password"
            placeholder="password"
            class="login-form"
          />
          <input type="submit" class="login-button" value="Login" />
        </form>
      </div>
      <span id="login-register"
        >Don't have an account? <a href="/register">Register</a></span
      >
    </div>
  </body>
</html>
