{% extends "base.html" %} {% block head %}
<link href="{{ url_for('static', path='/css/post.css') }}" rel="stylesheet" />

<script
  src="{{ url_for('static', path='/js/post_scripts.js') }}"
  defer
></script>

{% endblock %} {% block content %}
<div class="main-content">
  <div id="post-outer-container">
    <div id="post-container">
      <div id="post-top">
        <div id="post-title">{{post.title}}</div>
        <div id="post-description">{{post.description}}</div>
      </div>
      {% if post.contentType != 'text/plain' %}
      <img
        src="data:image/png;base64, {{post.content}}"
        alt="post"
        id="post-image"
      />
      {% else %}
      <div id="post-blog">{{post.content}}</div>
      {% endif %}
      <div id="post-info">
        <div id="post-primary">
          <a href="/author/{{post.author.id}}" id="post-author">
            <img
              src="{{post.author.profileImage}}"
              alt="author-picture"
              id="post-author-img"
            />
            <span id="post-author-name">{{post.author.displayName}}</span>
          </a>
          <div id="post-date">{{post.published.split("T")[0]}}</div>
        </div>
        <button
          id="like-button"
          authorid="{{user.id}}"
          postid="{{post._id}}"
          data-url="/service/authors/likes/create/post/{{post._id}}"
        >
          Like Post
        </button>
        <a
          href="/service/authors/{{post.author.id.split('/')[-1]}}/posts/{{post._id}}/comments/view"
          id="post-comment"
          >View comments
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
