<html>
  <head>
    <title>Document</title>
    <link
      href="{{ url_for('static', path='/css/style.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="login-container">
      <div id="login-top">
        <div id="login-logo">REGISTER</div>
        <form id="login-form" method="post" action="">
          <input
            type="text"
            name="username"
            placeholder="Display Name"
            class="login-form"
            required
          />
          <input
            type="password"
            name="password"
            placeholder="Password"
            class="login-form"
            required
          />

          <input
            type="github"
            name="github"
            placeholder="GitHub URL"
            class="login-form"
            required
          />
          <input type="submit" class="login-button" value="Register" />
        </form>
      </div>
      <span id="login-register"
        >Already have an account? <a href="/login">Login</a></span
      >
    </div>
  </body>
</html>
